[{{title|replace(':','：')|replace('： ','：')|replace(' ', '.')|replace('..','.')|replace('【', '')|replace('】', '')}}]
{% if title == original_title %}
{% if title != en_title %}
[{{en_title|replace('：',':')|replace(':','.')|replace(' ', '.')|replace('..','.')|replace(',.',',')|replace('【', '')|replace('】', '')}}]
{% endif %}
{% else %}
[{{original_title|replace(':','：')|replace('： ','：')|replace(' ', '.')|replace('..','.')|replace('【', '')|replace('】', '')}}]
{% endif %}/
{% if season_year %}[{{season_year}}]{% endif %}
[{{title|replace(':','：')|replace('： ','：')|replace(' ', '.')|replace('..','.')|replace('【', '')|replace('】', '')}}]
{% if title == original_title %}
{% if title != en_title %}
[{{en_title|replace('：',':')|replace(':','.')|replace(' ', '.')|replace('..','.')|replace(',.',',')|replace('【', '')|replace('】', '')}}]
{% endif %}
{% else %}
[{{original_title|replace(':','：')|replace('： ','：')|replace(' ', '.')|replace('..','.')|replace('【', '')|replace('】', '')}}]
{% endif %}
{% if season %}
{% if season | length < 2 %}
[第0{{season}}季]
{% else %}
[第{{season}}季]
{% endif %}
{% endif %}/
{% if season_year %}[{{season_year}}]{% endif %}
[{{title|replace(':','：')|replace('： ','：')|replace(' ', '.')|replace('..','.')|replace('【', '')|replace('】', '')}}]
{% if title == original_title %}
{% if title != en_title %}
[{{en_title|replace('：',':')|replace(':','.')|replace(' ', '.')|replace('..','.')|replace(',.',',')|replace('【', '')|replace('】', '')}}]
{% endif %}
{% else %}
[{{original_title|replace(':','：')|replace('： ','：')|replace(' ', '.')|replace('..','.')|replace('【', '')|replace('】', '')}}]
{% endif %}
{% if season %}
{% if season | length < 2 %}
[第0{{season}}季]
{% else %}
[第{{season}}季]
{% endif %}
{% endif %}
{% if videoFormat %}[{{videoFormat}}]{% endif %}
{% if resourceType %}[{{resourceType|replace(' ','][')}}]{% endif %}
{% if effect %}[{{effect|replace(' ','][')}}]{% endif %}
{% if releaseGroup %}
[{{releaseGroup}}]
{% else %}
[UNKGROUP]
{% endif %}/
{{title|replace(':','：')|replace('： ','：')|replace(' ', '.')|replace('..','.')|replace('【', '')|replace('】', '')}}
{% if en_title %}
{% if title != en_title %}
.{{en_title|replace('：',':')|replace(':','.')|replace(' ', '.')|replace('..','.')|replace(',.',',')|replace('【', '')|replace('】', '')}}
{% endif %}
{% endif %}
{% if season_year %}.{{season_year}}{% endif %}
{% if season %}
{% if season | length < 2 %}
.S0{{season}}
{% else %}
.S{{season}}
{% endif %}
{% endif %}
{% if episode %}
{% if episode | length < 2 %}
E0{{episode}}
{% else %}
E{{episode}}
{% endif %}
{% endif %}
{% if part %}.{{part}}{% endif %}
{% if episode_title %}.~{{episode_title|replace(':','：')|replace(' ', '.')|replace('..','.')|replace('【', '')|replace('】', '')}}~{% endif %}
{% if videoFormat %}.{{videoFormat}}{% endif %}
{% if tmdbid %}.tmdb{{tmdbid}}{% endif %}
{% if customization %}.{{customization|replace(' ', '.')|replace('@', '.')|replace('#', '')|replace('..','.')}}{% endif %}
{% if edition %}.{{edition|replace(' ', '.')}}{% endif %}
{% if videoCodec %}.{{videoCodec|replace(' ', '.')|replace('..','.')}}{% endif %}
{% if audioCodec %}.{{audioCodec|replace(' ', '.')|replace('..','.')}}{% endif %}
{% if releaseGroup %}
-{{releaseGroup}}
{% else %}
-UNKGROUP
{% endif %}
{{fileExt}}